{% extends 'base.html' %}

{% block title %}
Список авторов
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Список авторов</h1>
    <a href="/create-author">Создать нового автора</a>
    <br>
    {% for author in authors %}
        {{ author.name + author.surname + author.patronymic }}
        <a href="edit-author/{{ author.id }}">Изменить</a>
        <button class="btn btn-danger" onclick="delete_post('author',{{ author.id }})">Удалить</button>
        <br>
    {% endfor %}
</div>
{% endblock %}
