{% extends 'base.html' %}

{% block title %}
Создание жанра
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Создать новый жанр</h1>
    <form method="post" id="js-form">
        <lable for="genre_name">Название жанра</lable>
        <input type="text" name="genre_name" id="genre_name" class="form-control" placeholder="Введите название жанра">
        <br>
        <button type="button" class="btn btn-success"  onclick="create('genres')">Создать</button>

    </form>
    <div class="p-3 mb-2 bg-danger text-white ajax-res" id="ajax-error"></div>
    <div class="p-3 mb-2 bg-success text-white ajax-res" id="ajax-success"></div>
</div>
{% endblock %}
