{% extends 'shop/base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
{% include 'shop/shop-header.html' %}
<div class="container mt-5">
    <div class="col-4">
        {% if books_in_bag %}
        <ul class="list-group list-group-flush">
            {% for book in books_in_bag %}
            <li class="list-group-item text-center item" id="{{ book.id }}">
                <div class="card text-center" style="width: 15rem; margin-right:10px">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-title price">{{ book.price }}</h6>
                        <p class="card-text text-center">{{ book.surname + " " + book.name}}</p>
                        <input type="number" class="form-control" class="qnt" oninput="costcalc({{ book.id }});" value="1"
                               min="1">
                        <h6 class="card-title">Цена позиции: <span class="item-cost">{{ book.price }}</span></h6>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div id="block-total">Общая цена заказа:<span id="js-total"></span> р.</div>

    <button class="btn btn-success" onclick="createOrder()" id="create-order">Заказать</button>
    {% else %}
    <h5>Корзина пуста</h5>
    {% endif %}
    <div class="p-3 mb-2 bg-danger text-white ajax-res" id="ajax-error"></div>
    <div class="p-3 mb-2 bg-success text-white ajax-res" id="ajax-success"></div>

</div>
</div>
{% endblock %}
