{% extends 'shop/base.html' %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block body %}
{% include 'shop/shop-header.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4">{{ book.title }}</div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" src="..." alt="Card image cap">
            <button class="btn btn-success" onclick="addbook({{ book.id }})">Купить</button>
        </div>
        <div class="col-3">
            <ul>
                <li>Год: {{book.year}}</li>
                <li>Автор:<a href="/shop/author/{{ book.author_id }}">{{ book.name + " " + book.surname + " " + book.patronymic}}</a></li>
                <li>Жанр: <a href="/shop/genre/{{ book.genre_id }}">{{ book.genre_name }}</a></li>
                <li>Количество страниц: {{ book.number_of_pages }}</li>
                <li>ISBN: {{ book.isbn }}</li>
                <li>Тип обложки: {% if book.cover_type %}
                    Твердая
                    {% else %}
                    Мягкая
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="col-4">
            <div class="row"><h5>Описание</h5></div>
            <div class="row">{{ book.annotation }}</div>
        </div>
    </div>
</div>


{% endblock %}
