{% extends 'shop/base.html' %}

{% block title %}
Главная
{% endblock %}
{% block body %}
{% include 'shop/shop-header.html' %}

<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-9">
            <form class="form-inline" method="GET" action="/shop/search">
                <input class="form-control col-8" type="text" name="search" id="search" placeholder="Найти..."
                       aria-label="Search">
                <button type="submit" class="btn btn-">Поиск</button>
            </form>
        </div>

    </div>
    <div class="row">
        {% for book in books %}
        <div class="card text-center" style="width: 15rem; margin-right:10px">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="/shop/book-page/{{ book.slug }}">{{ book.title }}</a></h5>

                <p class="card-text text-center">{{ book.surname + " " + book.name}}</p>
                <button class="btn btn-success" onclick="addbook({{ book.id }})">Купить</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
