{% extends 'crud/base.html' %}

{% block title %}
Список авторов
{% endblock %}

{% block body %}
{% include 'crud/crud-header.html' %}
<div class="container mt-5">
    <h1>Список авторов</h1>
    <a href="/crud/create-author">Создать нового автора</a>
    <br>
    {% for author in authors.items %}
        {{ author.name }}
        {% if author.surname %}
            {{ author.surname }}
        {% endif %}
        {% if author.patronymic %}
            {{ author.patronymic }}
        {% endif %}
    <a href="/crud/edit-author/{{ author.id }}">Изменить</a>
    <button class="btn btn-danger" onclick="delete_post('author',{{ author.id }})">Удалить</button>
    <br>
    {% endfor %}
    {% for page in authors.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}

    {% if page %}
    <a href="{{ url_for('crud.authorslist', page_num=page) }}">{{ page }}</a>
    {% else %}
    {% endif %}

    {% endfor %}
</div>
{% endblock %}
