{% extends 'base.html' %}

{% block title %}
Создание Автора
{% endblock %}

{% block body %}
{% include 'crud/crud-header.html' %}

<div class="container mt-5">
    <h1>Создать нового автора</h1>
    <form method="post" id="js-form">
        <lable for="name">Имя</lable>
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя автора">
        <lable for="surname">Фамилия</lable>
        <input type="text" name="surname" id="surname" class="form-control" placeholder="Введите имя автора">
        <lable for="patronymic">Отчество</lable>
        <input type="text" name="patronymic" id="patronymic" class="form-control" placeholder="Введите отчество автора">
        <br>
        <button type="button" class="btn btn-success"  onclick="create('authors')">Создать</button>
    </form>
    <div class="p-3 mb-2 bg-danger text-white ajax-res" id="ajax-error"></div>
    <div class="p-3 mb-2 bg-success text-white ajax-res" id="ajax-success"></div>
</div>
{% endblock %}
