{% extends 'crud/base.html' %}

{% block title %}
Список жанров
{% endblock %}

{% block body %}
{% include 'crud/crud-header.html' %}
<div class="container mt-5">
    <h1>Список жанров</h1>
    <a href="/crud/create-genre">Создать новый жанр</a>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название жанра</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
        <tr>
        <th scope="row">{{ loop.index }}</th>

        <td>{{ genre.genre_name }}</td>
        <td><a href="edit-genre/{{ genre.id }}">Изменить</a></td>
        <td><button class="btn btn-danger" onclick="delete_post('genre',{{ genre.id }})">Удалить</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
