{% extends 'crud/base.html' %}

{% block title %}
Список издателей
{% endblock %}
{% block body %}
{% include 'crud/crud-header.html' %}
<div class="container mt-5">
    <h1>Список издателей</h1>
    <a href="/crud/create-publisher">Создать нового издателя</a>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название издателя</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publishers.items %}
        <tr>

            <th scope="row">{{ loop.index }}</th>
            <td>{{ publisher.publisher_name }}</td>
            <td><a href="edit-publisher/{{ publisher.id }}">Изменить</a></td>
            <td><button class="btn btn-danger" onclick="delete_post('publisher',{{ publisher.id }}, event)">Удалить</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for page in publishers.iter_pages(left_edge=3, right_edge=3, left_current=3, right_current=3) %}

        {% if page %}
          <a href="{{ url_for('crud.publisherslist', page_num=page) }}">{{ page }}</a>
        {% else %}
        {% endif %}

    {% endfor %}
</div>
{% endblock %}
